.living-tools{
    // padding-top: 40rpx;
    padding: 20rpx 10rpx 0 10rpx;
    .item{
        float: left;
        width: 50%;
        padding: 50rpx 0 60rpx 0;
        border-bottom: 1px solid #E5ECF1;
        text-align: center;
        color: #2E3039;
        // background: #EEF4F8;
        image{
            width: 68rpx;
            height: 68rpx;
            margin-bottom: 20rpx;
        }
        &:nth-child(odd){
            border-right: 1px solid #E5ECF1;
            width: calc(50% - 2px);
        }
        &:nth-child(even){
            float: right;
        }
        &:active{
            background: #EEF4F8;
        }
        view{
            line-height: 32rpx;
        }
    }
    .active{
        background: #EEF4F8;
    }
}