.live-wrapper{
    height: 100%;
    live-player{
        width: 100%;
        height: 100%;
    }
    video{
        width: 100%;
        height: 100%;
    }
    .nav{
        height: 480rpx;
        background: #000000;
        .init{
            color: #fff;
            line-height: 480rpx;
            text-align: center;
        }
    }
}